@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: none;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hover-btn:hover,
.hover-btn:hover span {
  color: #2563eb;
}

.hover-btn:hover svg path {
  fill: #2563eb;
  stroke: #2563eb;
}

.hover-stroke-btn:hover svg path {
  stroke: #2563eb;
}
