
.listContainer {
  width: 1500px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.downloadContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.tableContainer {
  height: 930px;
  border: 1px solid black;
}